 <li class="nav-item">
                                    <a href="{{ route('documents.attente') }}" class="nav-link" style="color:white">
                                        <i class="nav-icon bi bi-clock-history text-white"></i>
                                        <p>Documents en Attente</p>
                                    </a>
                                </li>
                                <!-- Documents validés et signés -->
                                <li class="nav-item">
                                    <a href="{{ route('documents.valide') }}" class="nav-link" style="color:white">
                                        <i class="nav-icon bi bi-check-circle text-white"></i>
                                        <p>Documents Validés</p>
                                    </a>
                                </li>
                                <!-- Documents partagés -->
                                <li class="nav-item">
                                    <a href="{{ route('documents.partages') }}" class="nav-link" style="color:white">
                                        <i class="nav-icon bi bi-share text-white"></i>
                                        <p>Documents Partagés</p>
                                    </a>
                                </li>

                     <li class="nav-item">
                                    <a href="{{ route('documents.recherche') }}" class="nav-link" style="color:white">
                                        <i class="nav-icon bi bi-search text-white"></i>
                                        <p>Recherche</p>
                                    </a>
                                </li>
                                <!-- Archivage -->
                                <li class="nav-item">
                                    <a href="{{ route('documents.archives') }}" class="nav-link" style="color:white">
                                        <i class="nav-icon bi bi-archive text-white"></i>
                                        <p>Archivage</p>
                                    </a>
                                </li>
                                <!-- Vérification des documents -->
                                <li class="nav-item">
                                    <a href="{{ route('documents.verification') }}" class="nav-link"
                                        style="color:white">
                                        <i class="nav-icon bi bi-patch-check text-white"></i>
                                        <p>Vérification des Documents</p>
                                    </a>
                                </li>
                            <!-- Ressources humaines -->
                            <li class="nav-item">
                                <a href="{{ route('ressources.humaines') }}" class="nav-link" style="color:white">
                                    <i class="nav-icon bi bi-people text-white"></i>
                                    <p>Ressources Humaines</p>
                                </a>
                            </li>